.footer {
    padding: 160px 0 80px;
}
.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright,
.footer_email > a {
    font-family: var(--font-family-main-m);
    font-size: 20px;
    letter-spacing: 0.04em;
    color: var(--color-black-lighter);
}

.footer_email > a {
    position: relative;
}

.footer_email > a:hover::after {
    /* text-decoration: underline; */
    content: "";
    display:block;
    width: 100%;
    border-bottom: 2px solid var(--color-black-lighter);
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}


.footer__socials > a {
    border: 1px solid var(--color-white);
    border-radius: 25%;
    transition: border var(--animation);
}

.footer__socials > a:hover {
    border: 1px solid var(--color-black-lighter);
}