.header {
    position: relative;
    min-height: 100vh;
    background-color: #E1EDF2;
    background-image: url("./../../images/photos/header-image.jpg");
    background-size: cover;
    background-position: center center;
}
.header__top {
    padding: 44px 0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 118px;
}
.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
}
.nav__links li a {
    position: relative;
    color: var(--color-blue-dark);
    font-family: var(--font-family-main-eb);
    font-size: 20px;
}
.nav__links li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: var(--color-blue-dark);
    border-radius: 30px;
    
    transition: transform 0.3s;
}
.nav__links li a:hover::after {
    transform: scaleX(1);
}

/* Toggle */
.header--toggle {
    min-height: unset;
    background-color: var(--color-bg-light);
    background-image: unset;
}
.header__toggle {
    margin: 0 9px 80px;
}
.toggle__title {
    color: var(--color-black);
    font-family: var(--font-family-main-eb);
    font-size: 40px;
    line-height: 1.4;
    max-width: 219px;
    margin-bottom: 80px;
}
.toggle__content > h3 {
    color: var(--color-black);
    font-family: var(--font-family-main-eb);
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 32px;
}
.toggle__info {
    font-family: var(--font-family-main-m);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.5;
    color: var(--color-black-lighter);
}
.toggle__info--address {
    max-width: 161px;
}


.header__content-mobile {
    display: none;
}
.header__content {
    padding-top: 125px;
    max-width: 900px;
}
.header__title {
    font-size: 80px;
    line-height: 1,175;
    font-family: var(--font-family-main-eb);
    color: var(--color-blue-dark);
    padding-bottom: 50px;
    max-width: 734px;
}
.header__text {
    font-size: 34px;
    line-height: 1,175;
    letter-spacing: -0.02em;
    padding-bottom: 70px;
    color: var(--color-black-lighter);
    font-family: var(--font-family-main-m);
}

.header__arrows {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 991px) {
    .nav__content {
        column-gap: 40px;
    }
    .nav__links {
        column-gap: 30px;
    }
    .header__title {
        font-size: 52px;
    }
    .header__text {
        font-size: 24px;
    }
    .header__button {
        column-gap: 12px;
        padding: 8px 16px;
    }
    .nav__button {
        column-gap: 12px;
        padding: 8px 16px;
    } 
}

@media (max-width: 767px) {
    .nav--header {
        margin: 0 9px;
    }
    .header__top {
        padding: 50px 0;
    }
    
    /* Header-Navigation */
    .nav__links, .nav__button {
        display: none;
    }
    
    .nav__toggle {
        display: block !important;
    }
}

@media (max-width: 575px) {
    .header__content {
        display: none;
    }
    .header {
        background-position: 15% center;
    }
    .header__content-mobile {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 27px;
    }
    .header__text-mobile {
        max-width: 237px;
        font-family: var(--font-family-main-m);
        font-size: 16px;
        line-height: 1.5;

        text-align: center;
        letter-spacing: 0.06em;

        color: var(--color-black-lighter);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .header__logo-mobile {
        width: 244px;
    }
    .header__arrows {
        width: 30px;
        height: 15px;
        bottom: 32px;
    }
}