/* Basic */
@import url(./reset.css);
@import url(./fonts.css);
@import url(./variables.css);

/* Components */
@import url(./components/buttons.css);
@import url(./components/cards.css);
@import url(./components/slider.css);

/* Sections */
@import url(./sections/header.css);
@import url(./sections/case-studies.css);
@import url(./sections/about.css);
@import url(./sections/footer.css);

html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family-main-m);
    background-color: var();
    color: var();
}

.none {
    display: none !important;
}

.nav__toggle {
    display: none;
}

.no-scroll {
    overflow-y: hidden;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) );
}
.container-left {
    padding-right: calc( (100% - var(--container-width))/2 + var(--container-padding) );
}

.section-title {
    font-family: var(--font-family-main-eb);
    font-size: 80px;
    line-height: 1,175;
    color: var(--color-black);
    max-width: 1060px;
}

.section-text {
    font-family: var(--font-family-main-m);
    font-size: 28px;
    line-height: 1.57;
    color: var(--color-black-lighter);
    max-width: 1060px;
}